extends layout

block content
  div(id="header")
    h1(class="mdc-typography--headline1") web page watcher

  div(class="mdc-layout-grid")
    div(class="mdc-layout-grid__inner")
    
      div(class="mdc-layout-grid__cell--span-6")
        form(id="form-input" action="/website" method="GET" class="mdc-text-field")
          input(type="text" name="url" class="mdc-text-field__input")
          input(type="submit" class="mdc-button")

      div(id="tracking-card" class="mdc-layout-grid__cell--span-12 mdc-card")
        ol(class="mdc-list")
        each website in websites
          li(class="mdc-list-item")
            a(href="/website?url=#{website.url}")=website.url
