extends layout

block content
  div(id="header")
    h1(class="mdc-typography--headline1") Website watcher

  div(class="mdc-layout-grid")
    div(class="mdc-layout-grid__inner")
      div(class="mdc-layout-grid__cell")
      div(class="mdc-layout-grid__cell--span-4 mdc-card")
        h2(id="form-title" class="mdc-typography--headline2") Track new website
        form(id="form-input" action="/website" method="GET" class="mdc-text-field")
          input(type="text" name="url" class="mdc-text-field__input")
          input(type="submit" class="mdc-button")
      div(class="mdc-layout-grid__cell")

  div(id="tracking-card" class="mdc-card")
    h2(class="mdct-typography--display2") Tracked Websites
    ol(class="mdc-list")
    each website in websites
      li(class="mdc-list-item")
        a(href="/website?url=#{website.url}")=website.url